.tabbed-document-index {
  margin-top: 3rem;
}

.tabbed-document-index .tabs-list button {
  all: unset;
  color: var(--text-muted-foreground);
  cursor: pointer;
  padding: 0 0.25rem;
}

.tabbed-document-index .tabs-list button:hover {
  color: #000;
}

.tabbed-document-index .tabs-list button + button {
  margin-left: 1rem;
}

.tabbed-document-index .tabs-list button[data-state="active"] {
  border-bottom: 2px solid #000;
  color: #000;
}

.tabbed-document-index .tabs-content {
  padding: 1.5rem 0;
}

.tabbed-document-index .tabs-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tabbed-document-index .tabs-content li.disabled {
  color: var(--gray-300);
}

.tabbed-document-index .tabs-content li,
.tabbed-document-index .tabs-content li p {
  line-height: 160%;
  margin: 0;
  padding: 0;
}

.tabbed-document-index .tabs-content li + li {
  padding-top: 1rem;
}

.tabbed-document-index .work-in-progress {
  background-color: #909090;
  border-radius: 3px;
  color: #fff;
  font-family: Manrope;
  font-size: 11.5px;
  font-weight: 500;
  margin-left: 0.5rem;
  padding: 0.125rem 0.325rem;
}

.tabbed-document-index .credits a {
  padding-left: 0.25rem;
  vertical-align: middle;
}

.tabbed-document-index .license {
  font-size: 0.875rem;
}