---
import Layout from '@layouts/PageLayoutIndex.astro';
import '@layouts/Layout.css';
---
<Layout>
	<div class="container">
		<main>
			<h1>Welcome</h1>
			<p>
				<strong>A-TAG</strong> (<strong>A</strong>śvaghoṣa’s <strong>T</strong>exts and Buddhist <strong>A</strong>rt from <strong>G</strong>andhāra) is a digital humanities project that bridges the worlds of literature and art. It allows users to explore side-by-side two remarkable legacies of first-millennium Indian Buddhism: The Sanskrit poetry of Aśvaghoṣa (circa. 2nd Century CE) on the life of the Buddha, and the contemporaneous rich Buddhist imagery from Gandhara, a region spanning present-day Pakistan and Afghanistan. Using an online text–image browser, the project makes it possible to view passages from Aśvaghoṣa’s works alongside visual depictions of the same episodes in artifacts from Gandhara. By doing so, it opens new ways of understanding how stories were told, retold, and transformed across words and images nearly two thousand years ago. 
			</p>
		</main>

		<footer>
			<a href="https://ceres.rub.de/">
				<img class="partner-logo" id="logo-ceres" src="assets/logo-ceres.png" alt="CERES">
			</a>

			<a href="https://www.ruhr-uni-bochum.de/">		
				<img class="partner-logo" id="logo-rub" src="assets/logo-rub.png" alt="Ruhr University Bochum">
			</a>	
			
			<a href="https://www.isf.org.il/">
				<img class="partner-logo" id="logo-isf" src="assets/logo-isf.png" alt="Israel Science Foundation">
			</a>	
			
			<a href="https://tau.ac.il/">
				<img class="partner-logo" id="logo-tau" src="assets/logo-tau.png" alt="Tel Aviv Universtiy">
			</a>	
		</footer>
	</div>
</Layout>

<style>
	.container {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	main {
		flex-grow: 1;
		max-width: 80ch;
		padding: 30px 80px 80px 80px;
	}

	footer {
		align-items: center;
		border-top: 1px solid #d2d2d2;
		display: flex;
		flex-wrap: wrap;
		font-family: Manrope;
		font-size: 14px;
		gap: 3rem;
		min-height: 120px;
		padding: 20px 80px;
	}

	footer img.partner-logo {
		flex-shrink: 0;
		max-width: 160px;
	}
</style>