---
import fs from 'fs';
import Layout from '@layouts/Layout.astro';
import type { ImageMetadata } from '../Types';

const images = fs.readdirSync('./public/images').reduce<ImageMetadata[]>((all, path) => {
	const json = fs.readFileSync(`./public/images/${path}`);

	const image = {
		slug: path,
		...JSON.parse(json.toString())[0] 
	} as ImageMetadata;

	return [...all, image]; 
}, []);
---
<Layout title="Annotated Content Browser">
	<main>
		<h1>Main Menu</h1>

		<ul>
			<li>
				<h2>Verses</h2>
				<ul>
					<li>
						<a href="verse/canto-5">Canto 5</a>
					</li>
				</ul>
			</li>

			<li>
				<h2>Images</h2>
				<ul>
					{images.map(meta => (
						<li>
							<a href={`image/${meta.slug}`}>{meta.title}</a>
						</li>
					))}
				</ul>
			</li>
		</ul>
	</main>
</Layout>