---
import Layout from '@layouts/Layout.astro';
---
<Layout title="Annotated Content Browser">
	<main>
		<h1>Main Menu</h1>

		<ul>
			<li>
				<a href="text">Text</a>
			</li>

			<li>
				<a href="image">Image</a>
			</li>
		</ul>
	</main>
</Layout>