---
import Layout from '@layouts/Layout.astro';
import { listImages, listVerses } from '@lib/utils';
---
<Layout title="Annotated Content Browser">
	<main>
		<h1>Main Menu</h1>

		<ul>
			<li>
				<h2>Verses</h2>
				<ul>
					{listVerses().map(meta => (
						<li>
							<a href={`verse/${meta.slug}`}>{meta.title}</a>
						</li>
					))}
				</ul>
			</li>

			<li>
				<h2>Images</h2>
				<ul>
					{listImages().map(meta => (
						<li>
							<a href={`image/${meta.slug}`}>{meta.title}</a>
						</li>
					))}
				</ul>
			</li>
		</ul>
	</main>
</Layout>