---
import { TabbedDocumentIndex } from '@components/TabbedDocumentIndex/TabbedDocumentIndex';
import Layout from '@layouts/PageLayoutIndex.astro';
import { listImages, listVerses } from '@lib/utils';

const verses = listVerses();
const images = listImages();
---
<Layout>
	<main>
		<h1>Welcome</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vestibulum ipsum nec lacus cursus volutpat. Fusce vel laoreet ipsum, sed mollis urna. Suspendisse sed mollis nibh. Sed feugiat velit vitae tortor efficitur, vitae semper diam egestas. Ut at metus id ipsum laoreet ultricies. 
		</p>

		<TabbedDocumentIndex 
			client:only="react"
			verses={verses} 
			images={images} />
	</main>

	<footer>
		Space for project acknowledgements & logos
	</footer>
</Layout>

<style>
	main {
		min-height: 65vh;
    flex-grow: 1;
    max-width: 80ch;
    padding: 30px 80px 80px 80px;
	}

	footer {
		background-color: #1e293b;
		color: #fff;
		font-family: Manrope;
		font-size: 14px;
		min-height: 120px;
		padding: 20px 80px;
	}
</style>