---
import { ChevronLeft } from 'lucide-react';
import { TabbedDocumentIndex } from '@components/TabbedDocumentIndex/TabbedDocumentIndex';
import Layout from '@layouts/Layout.astro';
import { listImages, listVerses } from '@lib/utils';

const verses = listVerses();
const images = listImages();
---
<Layout title="A-TAG - Aśvaghoṣa’s Texts and Buddhist Art from Gandhāra">
	<header>
		<div class="header-left">
			<a href="..">
				<ChevronLeft />
				<span>Home</span>
			</a>
			<a href="../about">About</a>

			<a href="../toc?tab=verses">Texts</a>

			<a href="../toc?tab=images">Images</a>
		</div>
	</header>

	<main>
		<TabbedDocumentIndex 
			client:only="react"
			verses={verses} 
			images={images} />
	</main>

	<footer>
		<a href="https://ceres.rub.de/">
			<img class="partner-logo" id="logo-ceres" src="../assets/logo-ceres.png" alt="CERES">
		</a>

		<a href="https://www.ruhr-uni-bochum.de/">		
			<img class="partner-logo" id="logo-rub" src="../assets/logo-rub.png" alt="Ruhr University Bochum">
		</a>	
		
		<a href="https://www.isf.org.il/">
			<img class="partner-logo" id="logo-isf" src="../assets/logo-isf.png" alt="Israel Science Foundation">
		</a>	
		
		<a href="https://tau.ac.il/">
			<img class="partner-logo" id="logo-tau" src="../assets/logo-tau.png" alt="Tel Aviv Universtiy">
		</a>	
	</footer>
</Layout>

<style>

  header {
    align-items: center;
    font-family: Manrope;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
  }

  header .header-left {
    align-items: center;
    display: flex;
    gap: 1.25rem;
    font-size: 0.825rem;
    padding-left: 0.25rem;
  } 

  header .header-left nav {
    align-items: center;
    display: flex;
    gap: 1.25rem;
    font-size: 0.825rem;
    margin-top: 4rem;
    padding-left: 0.25rem;
  } 

  header a {
    align-items: center;
    color: #fff;
    display: flex;
    gap: 0.25rem;
    text-decoration: none;
  }

  header a + a:before {
    content: '·';
    padding-right: 0.75rem;
  }

	main {
    flex-grow: 1;
    max-width: 80ch;
    padding: 30px 80px 80px 80px;
	}

	footer {
		align-items: center;
		border-top: 1px solid #d2d2d2;
		display: flex;
		flex-wrap: wrap;
		font-family: Manrope;
		font-size: 14px;
		gap: 3rem;
		min-height: 120px;
		padding: 20px 80px;
	}

	footer img.partner-logo {
		flex-shrink: 0;
		max-width: 160px;
	}
</style>