---
import { TabbedDocumentIndex } from '@components/TabbedDocumentIndex/TabbedDocumentIndex';
import Layout from '@layouts/PageLayoutIndex.astro';
import { listImages, listVerses } from '@lib/utils';

const verses = listVerses();
const images = listImages();
---
<Layout>
	<main>
		<TabbedDocumentIndex 
			client:only="react"
			verses={verses} 
			images={images} />
	</main>

	<footer>
		<a href="https://ceres.rub.de/">
			<img class="partner-logo" id="logo-ceres" src="/assets/logo-ceres.png" alt="CERES">
		</a>

		<a href="https://www.ruhr-uni-bochum.de/">		
			<img class="partner-logo" id="logo-rub" src="/assets/logo-rub.png" alt="Ruhr University Bochum">
		</a>	
		
		<a href="https://www.isf.org.il/">
			<img class="partner-logo" id="logo-isf" src="/assets/logo-isf.png" alt="Israel Science Foundation">
		</a>	
		
		<a href="https://tau.ac.il/">
			<img class="partner-logo" id="logo-tau" src="/assets/logo-tau.png" alt="Tel Aviv Universtiy">
		</a>	
	</footer>
</Layout>

<style>
	main {
    flex-grow: 1;
    max-width: 80ch;
    padding: 30px 80px 80px 80px;
	}

	footer {
		align-items: center;
		border-top: 1px solid #d2d2d2;
		display: flex;
		flex-wrap: wrap;
		font-family: Manrope;
		font-size: 14px;
		gap: 3rem;
		min-height: 120px;
		padding: 20px 80px;
	}

	footer img.partner-logo {
		flex-shrink: 0;
		max-width: 160px;
	}
</style>