.related.related-images {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.related-images-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 10px 30px 10px 20px;
  width: 300px;
}

.related.related-images button.close {
  all: unset;
  color: var(--text-muted-foreground);
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.75rem;
}

.related.related-images button.close:hover {
  color: inherit;
}

.related.related-images h3 {
  font-weight: 400;
  font-size: 1.1rem;
  margin: 0 0 1rem 0;
  padding: 0;
}

.related.related-images ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.related.related-images > ul > li {
  overflow: hidden;
}

.related.related-images .preview {
  display: flex;
  gap: 0.5rem;
}

.related.related-images .taglist-wrapper {
  overflow: hidden;
}

.related.related-images ul.taglist {
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
  padding: 1px 0;
}

.related.related-images ul.taglist li {
  background-color: var(--gray-300);
  border-radius: 2px;
  display: inline-block;
  font-family: Manrope;
  font-size: 13px;
  line-height: 140%;
  overflow: hidden;
  padding: 0 0.25rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.related.related-images ul.taglist li:not(.common) {
  background-color: var(--gray-100);
  color: var(--gray-400);
}

.related.related-images a {
  display: block;
  font-style: italic;
  font-size: 0.875rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.related.related-images .no-selection {
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  display: flex;
  flex-grow: 1;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  justify-content: center;
}