.thumbnail-wrapper {
  display: block;
  flex: 0 0 auto;
  height: 80px;
  position: relative;
  width: 80px;
}

.thumbnail-wrapper .react-loading-skeleton {
  border-radius: 4px;
  height: 100%;
  line-height: inherit;
}

.thumbnail-wrapper img {
  border-radius: 4px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}