html, body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

.flex-wrapper {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

main {
  background-color: var(--gray-100);
  flex-grow: 1;
  overflow-y: auto;
}

.flex-wrapper aside {
  background-color: #fff;
  height: 100%;
}

aside:nth-child(2) {
  box-shadow: 0 0 16px -8px rgba(0, 0, 0, 0.18), 0 0 1px rgba(0, 0, 0, 0.34);
}

.flex-wrapper aside + aside {
  border-left: 1px solid var(--gray-200);
}