.annotation-search {
  background-color: #3c3c3c;
  border-radius: 4px;
  color: #fff;
  display: flex;
  font-family: Manrope, Arial, Helvetica, sans-serif;
  font-size: 0.725rem;
  padding-right: 8px;
  position: relative;
}

.annotation-search .searchbox-wrapper {
  position: relative;
}

.annotation-search .result-count {
  align-items: center;
  display: flex;
  height: 100%;
  position: absolute;
  right: 0.675rem;
  top: 0;
}

.annotation-search .collapsible {
  align-items: center;
  display: flex;
  gap: 1rem;
  overflow: hidden;
}

.annotation-search .collapsible .actions {
  align-items: center;
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  display: flex;
  gap: 0.5rem;
  padding-left: 0.5rem;
}

.annotation-search .collapsible .actions button {
  height: auto;
  width: auto;
}

.annotation-search input {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  color: #fff;
  font-size: 0.825rem;
  outline: none;
  padding: 0.5rem 0.125rem 0.5rem 36px;
  width: 220px;
}

.annotation-search input::placeholder {
  color: #fff;
  opacity: 1;
}

.annotation-search input::-ms-input-placeholder { /* Edge 12 -18 */
  color: #fff;
}

.annotation-search > svg {
  color: #fff;
  left: 8px;
  position: absolute;
  top: 8px;
}