---
import Layout from '@layouts/Layout.astro';
---
<Layout title="DiGA">
  <header>
    <div class="header-left">
      <div class="logo-placeholder">
        Project Name & Logo
      </div>

      <a href="../../about">About</a>
    </div>
  </header>

	<slot />
</Layout>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

  :global(html, body) {
    min-height: 100%;
    background-color: #fff;
  }

  :global(body) {
    display: flex;
    flex-direction: column;
  }

  header {
    align-items: center;
    font-family: Manrope;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    position: sticky;
    top: 0;
  }

  header .header-left {
    align-items: center;
    display: flex;
    gap: 1.25rem;
    font-size: 0.825rem;
    padding-left: 0.25rem;
  } 

  header a {
    align-items: center;
    color: #fff;
    display: flex;
    gap: 0.25rem;
    text-decoration: none;
  }

  header a + a:before {
    content: '·';
    padding-right: 0.75rem;
  }

  header .logo-placeholder {
    border: 1px solid #fff;
    border-radius: 6px;
    color: #fff;
    display: block;
    font-size: 12px;
    padding: 0 12px;
  }
</style>