---
import Layout from '@layouts/Layout.astro';
---
<Layout title="A-TAG - Aśvaghoṣa’s Texts and Buddhist Art from Gandhāra">
  <header>
    <div class="header-left">
      <a 
        href="."
        class="header-logo">
        <img alt="ATAG Project" src="assets/atag-logo.png">
      </a>

      <nav>
        <a href="about">About</a>

        <a href="toc?tab=verses">Texts</a>

        <a href="toc?tab=images">Images</a>
      </nav>
    </div>
  </header>

	<slot />
</Layout>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

  :global(html, body) {
    min-height: 100%;
    background-color: #fff;
  }

  header {
    align-items: center;
    font-family: Manrope;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
  }

  header .header-left {
    align-items: center;
    display: flex;
    gap: 1.25rem;
    font-size: 0.825rem;
    padding-left: 0.25rem;
  } 

  header .header-left nav {
    align-items: center;
    display: flex;
    gap: 1.25rem;
    font-size: 0.825rem;
    margin-top: 4rem;
    padding-left: 0.25rem;
  } 

  header a {
    align-items: center;
    color: #fff;
    display: flex;
    gap: 0.25rem;
    text-decoration: none;
  }

  header a + a:before {
    content: '·';
    padding-right: 0.75rem;
  }

  header .logo-placeholder {
    border: 1px solid #fff;
    border-radius: 6px;
    color: #fff;
    display: block;
    font-size: 12px;
    padding: 0 12px;
  }

  header .header-logo img {
    height: 120px;
  }
</style>